@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text-color: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  min-width: 300px;
  overflow-x: hidden;
  
}

body {
  color: var(--text-color);
  background: url('/hero.jpg') var(--background) center no-repeat fixed;
  background-size: cover;
  font-family: 'Gemunu Libre', sans-serif;
  letter-spacing: 0.4;
}

header{
  background: linear-gradient(to bottom, rgba(38,1,1,1) 0%,rgba(101,2,2,1) 70%,rgba(107,2,2,0.7) 80%,rgba(140,3,3,0) 100%)
}

/*Titles */
h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h3{
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h4{
  font-size: 1.25rem;
  letter-spacing: 1px;
}

h5{
  font-size: 1rem;
  letter-spacing: 1px;
}

h6{
  font-size: 0.75rem;
  letter-spacing: 1px;
}

/* Loader */
div#Loader { 
  background: radial-gradient(circle, #000000 0%, #000000 60%, #1F0000 100%);
}

/*Costumized ScrollBar*/

  /* width */
  ::-webkit-scrollbar {
    width: 7px; /*Largura*/
  }

  /* track */
  ::-webkit-scrollbar-track {
    background: #260101;
    margin-block: 4px;
    border-radius: 20px;
  }

  /* handle */
  ::-webkit-scrollbar-thumb {
    background: #a00303;
    border-radius: 20px;
    border: 2px solid #260101;
   }

  /* handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7a0303;
  }

/*Animations*/
@keyframes slide-top {
  0% {top: -100px;}
  70% {top: 60px;}
  100% {top: 50px;}
}

@keyframes fade-right {
  0% {right: -100px;}
  70% {right: 60px;}
  100% {right: 50px;}
}

@keyframes fade-left {
  0% {left: -100px;}
  70% {left: 60px;}
  100% {left: 50px;}
}



/*Alert component classes*/
  .alert-success{
    background-color: #1a9b0c;
    animation: slide-top 0.3s ease-in-out ;
    color: white;
    border-left: 20px solid #095700;
  }
  .alert-warning{
    background-color: #fbff00;
    animation: slide-top 0.3s ease-in-out ;
    color: white;
    border-left: 20px solid #8b8d00;
  }
  .alert-error{
    background-color: #9b0c0c;
    animation: slide-top 0.3s ease-in-out ;
    color: white;
    border-left: 20px solid #570000;
  }
  .alert-info{
    background-color: #0c9b94;
    animation: slide-top 0.3s ease-in-out ;
    color: white;
    border-left: 20px solid #005f5a;
  }


/*Carousel next events*/
